.pdf
(Cambridge Series in Statistical and Probabilistic Mathematics) A. C. Davison, D. V. Hinkley - Bootstrap Methods and their Application-Cambridge University Press (1997).pdf
324940.pdf
CONFIDENCE INTERVALS FOR THE COEFFICIENT OF VARIATION.pdf
Communications in Statistics - Simulation and Computation Volume issue 2018 [doi 10.1080%2F03610918.2018.1435800] Altunkaynak, Bulent; Gamgam, Hamza -- Bootstrap confidence intervals for the coefficie.pdf
Computational Statistics & Data Analysis Volume 50 issue 11 2006 [doi 10.1016%2Fj.csda.2005.05.007] Douglas G. Bonett -- Confidence interval for a coefficient of quartile variation.pdf
ConfidenceintervalestimationfortheCVRanksetsamplingJAS.pdf
Kelley_BRM_AIPE_CV_2007.pdf
x1.csv
sticker.R
